@import "tailwindcss";

/* Tailwind v4: custom theme variables */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-large: 1000px;

  --color-primaryColor-50:  #e9effd;
  --color-primaryColor-100: #bbcff9;
  --color-primaryColor-200: #9bb7f6;
  --color-primaryColor-300: #6d96f2;
  --color-primaryColor-400: #5182ef;
  --color-primaryColor-500: #2563eb;
  --color-primaryColor-600: #225ad6;
  --color-primaryColor-700: #1a46a7;
  --color-primaryColor-800: #143681;
  --color-primaryColor-900: #102a63;
}
